extends ../layouts/layout.pug

block title 
    title IN Secure Bank

block content
    main
        h1 Welcome to IN Secure Bank
        p Our clients' money is our priority...

        if isAuthenticated 
            h2 Welcome, #{fullName}!
            if role == 'User'
                p Your account's balance is $#{balance}.