extends ../layouts/layout.pug

block title 
    title Transfer Money

block append styles 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/request-overdraft", method="post")
            .form-control 
                label(for="amount") Amount
                input#amount(type="number", name="amount")
            button.btn(type="submit") Request Overdraft