extends ../layouts/layout.pug

block title 
    title Shop

block append styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if transfers.length > 0
            .grid
                each transfer in transfers
                    article.card.product-item
                        .card-content 
                            p.product-description From: #{transfer.originId}
                            p.product-description To: #{transfer.destinationId}
                            p.product-description Sent: $#{transfer.amount}
                            p.product-description Sent at: #{transfer.date}
        else 
            h1 This user has no transfers...